PORT=3000
STRIPE_SECRET_KEY=pk_test_51TFcnsCkxx46wfwyXX3jI0MKyQDrUlGgMP6BkllTjwCBF9nnEBWInEXHeG6fUELVglVLRKOEvwblQp45KnA3X9wv00BEPmtfnn
JWT_SECRET=sb_publishable_Qrne3yeIWLxBOUzAltId3Q_pmuXSY5a
DATABASE_URL=https://supabase.com/dashboard/project/ydvepkgyvjonfoumznpg/database/types
